  /*  START DATE 8/28/2021*/
  /*  UPDATE DATE 11/16/2021*/
    body {
      margin:0;
      background-color: #F7F5F7;
      line-height: 1.5;
    }
    /* MENU NAVBAR */
    .navbar {
      overflow: hidden;
      background-color: #751518;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;
    }
    .navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 14px;
      text-decoration: none;
      font-size: 17px;
    }

    .navbar a:hover {
      background: #ddd;
      color: black;
    }

    /* IMAGE HEADER BACKGROUND */
    .bg{
    width: 100%;
    height: 45%;
    }
    /*SEARCH BAR INPUT */
    input[type=text] {
    width: 600px;
    }
    .form {
        position: relative;
        bottom: 162px;
        text-align: center;
    }
    /* MIC ICON*/
    .form span {
        position: absolute;
        right: 500px;
        top: 14px;
        padding: 5px;
        border-left: 1px solid #d1d5db
    }
    /* SEARCH FORM*/
    .left-pan {
        padding-left: 7px
    }
    
    .left-pan i {
        padding-left: 10px
    }
    
    .form-input {
        height: 55px;
        text-indent: 33px;
    }
    
    .form-input:focus {
        box-shadow: none;
        border: none
    }
    /* SEARCH BUTTON*/
    .button {
        background-color: #751518;
        border: none;
        color: white;
        padding: 18px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        margin-left: -10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }
    /* DROPDOWN CATEGORY */
      .topic {
        background-color: white;
        color: black;
        padding: 18px 22px;
        text-decoration: none;
        cursor: pointer;
        margin-right: -4.2px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
      }
    /* INTRODUCTION */
     .intro{
      text-indent: 50px; 
      max-width: 800px;
      margin-left: 400px;
     }
   

    /*SIDEBAR*/

    .side {
      width: 220px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      overflow-x: hidden;
      padding-top: 20px;
      margin-top: 50px;
    }
    
    .side a {
      padding: 6px 6px 6px 32px;
      text-decoration: none;
      font-size: 25px;
      color: black;
      display: block;
      border: 1.5px solid black;

    }
    
    .side a:hover {
      color: blue;
    }

    /*ChatBot*/
    .chat_icon{
      position: fixed;
      bottom: 0;
      right: 30px;
      z-index: 1000;
      padding: 0;
      font-size: 80px;
      color: #fff;
      cursor: pointer;
    }
    .chat_box{
      width: 400px;
      height: 80vh;
      position: fixed;
      bottom: 65px;
      right: 30px;
      background:#dedede;
      z-index: 1000;
      transition: all 0.3s ease-out;
      transform: scaleY(0);
      border: solid 3px;

    }
    .chat_box.active{
      transform: scaleY(1);
    }
    #messages{
      padding: 20px;
    }
    .my-conv-form-wrapper textarea{
      height: 30px;
      overflow: hidden;
      resize: none;
    }
    .hidden{
      display: none !important;
    }

    .new{
      margin-left: 320px;
    }

    /*Pagination*/  
    table {
      font-family: arial, sans-serif;
      width: 50%;
    }
    
    td, th {
      text-align: left;
      padding: 8px;
    }
    .formview{
      border: 1px solid #e7e7e7; 
      border-radius: 6px; 
      background-color: white;
      box-shadow: 6px 6px 8px 0 #f2eff2;
      padding:20px;
      width: 75%;
      margin-left: 250px;
    }
    .pagination{
      margin-left: 120px;
      display: inline-block;
    }
    .perpage-link{
      color: #337ab7;
      padding: 8px 16px;
      text-decoration: none;
      transition:  .3s;
      display: inline-block;
      background-color: white;
      border: none;
      margin-left: 1px;
    }
    .perpage-link:hover
    {background-color: #ddd;}

    span.current-page {
      background-color: #d2edef;
      color: #337ab7;
      padding: 8px 16px;
    }
    ul{
      overflow:hidden;
    }
    li{
      display:inline-block;
    }
      /* Display Row */
    .displayResearch{      
      text-decoration: none;
      color: black;
    }
    .displayRow:hover{  
      background-color:#ebebeb;
      color: white;
    }
    /* Count */
    .count1 {
      position: absolute;
      bottom: 200px;
      right: 90px;
      font-size: 20px;
      font-family: serif;
      color: #7A7A7A;
    }
   