  /*  START DATE 8/28/2021*/
  /*  UPDATE DATE 11/16/2021*/
    body {
      margin:0;
      background-color: #F7F5F7;
      line-height: 1.5;
    }
    /* MENU NAVBAR */
    .navbar {
      overflow: hidden;
      background-color: #751518;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;
    }
    .navbar a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 14px;
      text-decoration: none;
      font-size: 17px;
    }

    .navbar a:hover {
      background-color: #5a2325;
      color: white;
      text-decoration: underline;
    }

    /* IMAGE HEADER BACKGROUND */
    .bg{
    width: 100%;
    height: 45%;
    }
    /*SEARCH BAR INPUT */
    input[type=text] {
    width: 680px;
    border-radius: 10px;
    font-size: 16px;
    }
    input[type=text].fromDate {
      width: 154px;
      height: 35;
      padding: 6px 12px;
      box-shadow: 0 2px 0 rgb(0 0 0 / 8%);
      font-size: 14px;
      border-radius: 5px;
    }

    input[type=text].toDate {
      width: 154px;
      height: 35;
      padding: 6px 12px;
      box-shadow: 0 2px 0 rgb(0 0 0 / 8%);
      font-size: 14px;
      border-radius: 5px;

    }
    .form {
        position: relative;
        bottom: 162px;
        text-align: center;
    }
    /* MIC ICON*/
    .form span {
        position: absolute;
        right: 520px;
        top: 14px;
        padding: 5px;
        border-left: 1px solid #d1d5db
    }
    /* SEARCH FORM*/
    .left-pan {
        padding-left: 7px
    }
    
    .left-pan i {
        padding-left: 10px
    }
    
    .form-input {
        height: 55px;
        text-indent: 33px;
        padding: 6px 12px;
    }
    
    .form-input:focus {
        box-shadow: none;
        border: none
    }
    /* SEARCH BUTTON*/
    .button {
        background-color: #751518;
        border: none;
        color: white;
        padding: 18px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        margin-left: -10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }
    /* DROPDOWN CATEGORY */
      .topic {
        background-color: white;
        color: black;
        padding: 18px 22px;
        text-decoration: none;
        cursor: pointer;
        margin-right: -4.2px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
      }
    /* INTRODUCTION */
     .intro{
      text-indent: 50px; 
      max-width: 800px;
      margin-left: 400px;
     }
   

    /*SIDEBAR*/

    .side {
      width: 220px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      overflow-x: hidden;
      padding-top: 20px;
      margin-top: 50px;
    }
    
    .side a {
      padding: 6px 6px 6px 32px;
      text-decoration: none;
      font-size: 25px;
      color: black;
      display: block;
      border: 1.5px solid black;

    }
    
    .side a:hover {
      color: blue;
    }

    /*ChatBot*/
    .chat_icon{
      position: fixed;
      bottom: 0;
      right: 30px;
      z-index: 1000;
      padding: 0;
      font-size: 80px;
      color: #fff;
      cursor: pointer;
    }
    .chat_box{
      width: 400px;
      height: 80vh;
      position: fixed;
      bottom: 65px;
      right: 30px;
      background:#dedede;
      z-index: 1000;
      transition: all 0.3s ease-out;
      transform: scaleY(0);
      border: solid 3px;

    }
    .chat_box.active{
      transform: scaleY(1);
    }
    #messages{
      padding: 20px;
    }
    .my-conv-form-wrapper textarea{
      height: 30px;
      overflow: hidden;
      resize: none;
    }
    .hidden{
      display: none !important;
    }

    .new{
      margin-left: 320px;
    }

    /*Pagination*/  
    table {
      font-family: arial, sans-serif;
      width: 50%;
      
    }
    
    td, th {
      text-align: left;
      padding: 8px;
    }
    .formview{
      border: 1px solid #e7e7e7; 
      border-radius: 6px; 
      background-color: white;
      box-shadow: 6px 6px 8px 0 #f2eff2;
      padding:20px;
      width: 80%;
      margin-left: 280px;
      margin-top: -679px;
      height: 618px;
    }
    .pagination{
      margin-left: 120px;
      display: inline-block;
    }
    .perpage-link{
      color: #337ab7;
      padding: 8px 16px;
      text-decoration: none;
      transition:  .3s;
      display: inline-block;
      background-color: white;
      border: none;
      margin-left: 1px;
      cursor: pointer;
    }
    .perpage-link:hover
    {background-color: #ddd; cursor: pointer;}
    span.current-page {
      background-color: #d2edef;
      color: #337ab7;
      padding: 8px 16px;
      cursor: pointer;
    }
    ul{
      overflow:hidden;
    }
    li{
      display:inline-block;
    }
      /* Display Row */
    .displayResearch{      
      text-decoration: none;
      color: black;
    }
    .displayRow:hover{  
      background-color:#ebebeb;
      color: black;
      cursor: pointer;
    }
 
    /* Count */
    .count1 {
      position: absolute;
      bottom: 180px;
      right: 90px;
      font-size: 20px;
      font-family: serif;
      color: #7A7A7A;
    }
   /* Need to login */
.ol-login-link{
  color: #fff;
 display: inline-block;
 border: 1px solid #fff;
 padding: 1px;
 border-radius: 4px;
 margin-top: 3px;
 margin-left: 200px;

}

.icon-open-layer-login {
background: url(https://www.proquest.com/assets/meta/31b8cbc0/images/icons/auth-login.png) no-repeat 0 2px;
background-size: 20px;
}
.a{
  display: inline-block;
  display: inline-block;
  position: relative;
  left: 302px;
  bottom: 67px;
  margin-left: 10px;
  z-index: 1;
}
.a .b{
  color: #337ab7;
  padding: 8px 16px;
  cursor: pointer;

}
.a .b:hover{
  background-color: rgb(235, 229, 229);
}
.noFound{
  position: relative;
  left: 500px;
  bottom: 630px;
  font-size: 20px;
  z-index: 1;
}
.namebtn{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.fa-eye{
color: black;
}
.fa-eye:hover{
  cursor: pointer;
  color: blue;
}
.namebtn:hover{
  cursor: pointer;
  color: blue;
}
#firstRow .namebtn{
  float: right;
  margin-right: 280px; margin-top: -90px;
  font-size: 16px;
} 
#firstRow .view{
  float: right;
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  margin-right: 215px; margin-top: -90px;
  text-decoration: none;
  color: black;
  font-size: 16px;

} 
#firstRow .view:hover{
  cursor: pointer;
  color: blue;
}
#firstRow .abstract{
  float: right;
  margin-right: 125px; margin-top: -90px;
  text-decoration: none;
  color: black;
  font-size: 16px;

} 
#firstRow .abstract:hover{
  cursor: pointer;
  color: blue;
}
#firstRow .fullArticle{
  float: right;
  margin-right: 15px; margin-top: -90px;
  text-decoration: none;
  color: black;
  font-size: 16px;

} 
#firstRow .fullArticle:hover{
  cursor: pointer;
  color: blue;
}
 #firstRow  .rowtopic{
  float: left;
  margin-left: 90px; margin-top: -90px;

} 
/* .displayResearch #firstRow .topic:hover{
  background-color: red;
} */

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-justify: inter-word;
  border: 4px solid #751518;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}